@import url('https://fonts.googleapis.com/css?family=Karla');

body {
  margin: 0 auto;
  /* overflow:hidden; */
  font-family: 'Karla', sans-serif;

}

/* .container {
  margin: 0 auto;
  display: block;
} */

nav {
  position: fixed;
  top: 0;
  text-align: right;
  z-index: 3;
  margin: 0 auto;
  width: 100vw;
  color: white;
  transition: 1s;
}

nav a {
  text-decoration: none;
  display: inline-block;
  padding: 1% 2%;
  color: white;
}

#section_1 {
  margin: 0 auto;
  background-image: url(../images/Sydney.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#overlay {
  margin: 0 auto;
  background-color: rgba(0,0,0,0.3);
  height: 100vh;
  width: 100vw;
}

#home-svg {
    height: 150px;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    left: 0;
    z-index: 3;
  }

  #name {
    margin: 0 auto;
    padding: 8% 0;
    text-align: center;
  }

  #name h1, #name h2 {
    color: white;
    margin: 0 auto;
    font-size: 400%;
  }

  /* svg:not(:root) {
    overflow: hidden;
} */

#home-svg .p-curve {
    fill: #fff;
}

.box {
  height: 100vh;
  width: 100vw;
}

.active {
  text-decoration: underline;
}

#section_2 {
  text-align: center;
}

#section_2 .photo {

  /* margin-top: 14%; */
  margin-left: 3%;
  border-radius: 500em;
  display: inline-block;
  vertical-align: top;
}

#section_2 .about-me {
  font-family: 'Karla', sans-serif;

  margin-top: 5%;
  display: inline-block;
  max-width: 40%;
  text-align: justify;
  margin-left: 10%;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}

.about-me #title {
  font-family: 'Karla', sans-serif;

  font-weight: bolder;
}

#arrow {
  margin-top: 13%;
  width: 3%;
}

#arrow #arrowpath{
  fill: #fff;
}

#arrow:hover{
  cursor: pointer;

}

#arrow:hover #arrowpath{
  fill: pink;
}

#section_3 video, #section_3 img {
  width: 30%;
  margin: 2%;
  border-radius: 1em;
}

#section_3 video:hover {
  box-shadow: 0 0 15px grey;
}

#section_3 img:hover {
  box-shadow: 0 0 15px grey;

}

#section_3{
  text-align: center;
}

.fixnav{
  background-color: black;
}

#social img {
  display: inline-block;
  width: 50px;

}

#social img:hover {
  opacity: 0.7;
}

/* #section_3 {
  text-align: center;
} */

#section_3 #tictactoe, #dashboard, #meetyou, #loseit, #portfolio{
  display: inline-block;
  width: 25%;
  margin: 1% 2%;
  vertical-align: top;

}

#portfolio img {
  display: inline-block;
  width: 40%;
  /* height: 40vh; */
  margin: 1% 2%;
  vertical-align: top;
}


#tictactoe .links {
  display: block;
}
#tictactoe .links a{
  text-decoration: none;

}

.port-content {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  text-align: justify;

}

.port-content h2{
display: inline-block;
margin-right: 2%;
}


#section_3 h1 {
  padding-top: 5%;
}

.portfolio-carousel {
  width: 100vw;
  display: inline-block;
}

i {
  font-size: 50px;
  display: inline-block;

}

i:hover{
  color: grey;
  cursor: pointer;
}

.tech {
  width: 100%;
text-align: left;
}

.tech span{

    color: white;
    background-color: black;
    min-width: 10%;
    padding: 1%;
    border-radius: 0.5em;
    display: inline-block;
    margin: 1% 1%;
    text-align: center;

  /* list-style-type: none; */
}

.icons {
margin: 0 auto;
width: 80%;
}
.icons i {
  font-size: 500%;
  margin: 4%;
}

#section_4, #section_5 {
  margin: 0 auto;
  text-align: center;
}

#section_4 h1, #section_5 h1 {
  padding-top: 6%;
  margin: 0 auto;
}

.mail, .phone {
  display: inline-block;
  width: 30%;
}
.mail img, .phone img{
  width: 20%;
}

.mail a, .phone p {
  font-size: 200%;
  display: block;
  text-decoration: none;
  color: black;
}

.contact {
  margin-top: 5%;
}

#section_2 .image-button {
  margin-top: 10%;
  display: inline-block;
  vertical-align: top;


}

.image-button button {
  font-family: 'Karla', sans-serif;

  width: 60%;
  padding: 5%;
  border: 2px solid black;
  background-color: black;
  color: white;
  display: block;
  margin: 10% auto;
  font-size: 120%;
  border-radius: 0.5em;
  transition: 0.2s;
}

.image-button button:hover {
  background-color: white;
  color: black;
  cursor: pointer;
}
